.cartBtn {
    position: fixed;
    top: 15px;
    right: 15px;
    padding: 12.5px;
    border-radius: 100%;
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e2e2e2;
}
